h1{
    text-align: center;
     color:rgb(0, 238, 52);
    }
    p{
        text-justify: auto;
        }
    
h2{
    text-align: center;
    color: rgb(47, 0, 255);
}
#TITULOS header{
        height: 30px;
        width: 100%;
        text-align: right;
        font-size: 20px;
        line-height: 20px;
        color: bisque;
}
